#progressive-media-blur-filter {
    display: none;
}

.progressive-media {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;

    .progressive-media-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.progressive-media-image {
        margin: 0 auto;
    }

    &.progressive-media-loaded {
        &.progressive-media-image {
            .progressive-media-blur {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    .progressive-media-image-placeholder {
        z-index: 2;
        transition: visibility 400ms linear, opacity 400ms;
    }

    .progressive-media-image-original {
        z-index: 1;
    }

    .progressive-media-blur {
        filter: url('#progressive-media-blur');
        opacity: 1;
        visibility: visible;
    }
}